# Python build artifacts and caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
build/
dist/
*.egg-info/

# Local dependencies
*.whl

# Model caches
openvino_model_cache/

# Analysis results
*_results/

# Environment variables
.env

# Log files
*.log

# OS-specific files
.DS_Store

# Miscellaneous
=8.3.179,

# No arquivo .gitignore
*.mp4